<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre la Aplicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">ID Aplicación</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Identificacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="scatter" style="width:100%; height:50px;"></div>
      <h1>Sobre la Aplicación</h1>
      <p> Esta aplicación demuestra un sistema simulado de Control de Riego,</p>
      <p> realizada como Trabajo Final de Desarrollo Aplicaciones Multiplataforma </p>
      <p> R.Oliva MIoT 2020</p>
      <div id="scatter" style="width:100%; height:100px;"></div>
      <img src= "assets/img/logoFIUBA.png" alt="logoFiuba">
    </ion-card-content>
  </ion-card>

</ion-content>