<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-button routerLink="/detalle-sensor/{{this.idDispositivo}}" routerDirection="back">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Log Mediciones Dispositivo - {{this.idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row >
      <ion-col>Id del Dispositivo</ion-col>
      <ion-col>Fecha</ion-col>
      <ion-col>Id de la medición</ion-col>
      <ion-col>Valor</ion-col>  
    </ion-row>

    <ion-row  *ngFor="let med of this.medicionArray">
      <ion-col>{{med.dispositivoId}}</ion-col>   
      <ion-col>{{med.fecha | fechaPipe}}</ion-col>     
      <ion-col>{{med.medicionId}}</ion-col>    
      <ion-col>{{med.valor}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

