<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-button routerLink="/detalle-sensor/{{this.idDispositivo}}" routerDirection="back">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Log Accionamientos Ev Dispositivo - {{this.idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row >
      <ion-col>Id de Ev</ion-col>
      <ion-col>Fecha</ion-col>
      <ion-col>Id de la medición</ion-col>
      <ion-col>Estado (0 cerrado, 1 abierto)</ion-col>  
    </ion-row>

    <ion-row  *ngFor="let rie of this.riegoArray">
      <ion-col>{{rie.electrovalvulaId}}</ion-col>   
      <ion-col>{{rie.fecha | fechaPipe}}</ion-col>     
      <ion-col>{{rie.logRiegoId}}</ion-col>    
      <ion-col>{{rie.apertura}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
